.home-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  

  .home-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .subheading {
    font-size: 18px;
    color: #555;
  }
  
  h2 {
    color: #0044cc;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .navbar {
    background-color: #0044cc;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
